# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs
*.log

# Env
.env
.env.*

# Build output
/dist/
/build/
**/build/
**/dist/

# Coverage
coverage/

# Editor
.vscode/
.idea/
*.swp

# Misc
*.local
*.cache
